.*
*.model
!.gitignore
!.gitmodules
!.travis.yml
!.appvetor.yml
*build*
dataset/*
!dataset/*.sh
!dataset/test_dataset.txt
!scripts/*.sh
html
latex
logs
*.pyc
*.dylib
*.egg-info*
python/dist/*
python/build/**
